{% extends "layouts/base.html" %}

{% block title %} DailyServices {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
{% endblock stylesheets %}



{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">


        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h4 class="m-b-10">Daily Services!</h4>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Daily Services</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Daily Services</h5>
                                <span class="d-block m-t-5">The Daily ALerts we are getting.</span>
                                <p style="text-align:end">Date : <input type="text" class="date" id="datepicker"></h4>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <h4><input id="alternate" style="border-width: 0px;color:black"></h4>
                                    <table class="table" id="table"> 
                                        <h5 id="date"></h5>
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Service</th>
                                                <th>Enviroment</th>
                                                <th>Annotation</th>
                                            </tr>
                                        </thead>
                                        <tbody id="service_table">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ basic-table ] end -->
                    <div class="col-xl-12 text-center">
                        <button class="btn btn-success rounded" style="font-size: large;" id="btn1">
                            <i class="feather icon-arrow-left">Back</i>
                        </button>
                    </div>
                </div>    
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}



{% block javascripts %}

<!-- This is javascript for redirecting the back button to home  -->
<script>
    document.getElementById("btn1").onclick = function(){
        redirectHome()
    };
    function redirectHome(){
        var req1  = new XMLHttpRequest();
        req1.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
               window.location.href = "index.html" ; 
        }
    };
    req1.open("GET",'index.html',true);
    req1.send();
    }
</script> 

<!-- This is a javascript for date picker -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
<script>
'use strict';
$(document).ready(function(){
    setTimeout(function(){  
        $( function() {
            $( "#datepicker" ).datepicker({
                dateFormat:'dd-mm-yy',
                altField: "#alternate",
                changeMonth: true,
                changeYear: true,
                altFormat: "dd,MM, yy",
                onSelect: function(date)
                    {
                        $.get('/version_matrix',{'data':date},function(data,status){ 
                            $("#service_table").remove(); 
                            if ($("#table tbody").length == 0) {
                                $("#table").append('<tbody id="service_table"></tbody>');
                            }
                            var table = document.getElementById('service_table');
                            for (var i = 0 ; i < data['data'].length ; i++){
                                    var row = '<tr>'+
                                        '<td>'+ data['data'][i]['date']+'</td>'+
                                        '<td>'+ data['data'][i]['service']+'</td>'+
                                        '<td>'+ data['data'][i]['environment'] +'</td>'+
                                        '<td>'+ data['data'][i]['annotation']+'</td>'+
                                        '</tr>'
                                        table.innerHTML += row
                                }           
                        })
                    }
            });
        });   
    },100); 
});    
</script> 


{% endblock javascripts %}
